<mat-grid-list class="gridList" cols="1" rowHeight="200px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="dateDiv">
    <button mat-icon-button color="primary" (click)="sendSMS();" class="verifyBtn" matTooltip="שלח" matTooltipPosition="above" *ngIf="!isVerify" [disabled]="!isPhone && (isNameReq && fullname.length < 3) || (!isPhone && !isNameReq)"><mat-icon>check</mat-icon></button>
    <button mat-icon-button color="primary" (click)="verifyCode();" class="verifyBtn" matTooltip="שלח" matTooltipPosition="above" *ngIf="isVerify && resSendSMSData && !isCode" [disabled]="code.length <= 0"><mat-icon>check</mat-icon></button>
    <mat-spinner class="spinnerBtn" *ngIf="isVerify && !resSendSMSData" diameter="30"></mat-spinner>
    <mat-spinner class="spinnerBtn" *ngIf="isCode && !resVerifyData" diameter="30"></mat-spinner>
    <mat-form-field>
      <input matInput placeholder="מספר טלפון" [(ngModel)]="phone" (ngModelChange)="isValidPhone()" *ngIf="!resSendSMSData">
      <input matInput placeholder="קוד אימות" [(ngModel)]="code" *ngIf="resSendSMSData">
    </mat-form-field>
    <mat-icon class="date-icon" *ngIf="!resSendSMSData">phone</mat-icon>
    <mat-icon class="date-icon" *ngIf="resSendSMSData">lock</mat-icon>
    <br>
    <span style="font-size:13px; color:red;">{{errorVerify}}</span>
    <span style="font-size:13px; color:red;">{{errorSMS}}</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="dateDiv" *ngIf="isNameReq">
      <mat-form-field>
        <input matInput placeholder="שם מלא" autocomplete="off" [(ngModel)]="fullname">
      </mat-form-field>
      <mat-icon class="date-icon">person</mat-icon>
    </div>
  </mat-grid-tile>
</mat-grid-list>
