<mat-grid-list class="gridList" cols="1" rowHeight="240px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="dateDiv">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="שם מלא" autocomplete="off" [(ngModel)]="fullname">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-icon class="date-icon" >person</mat-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="dateDiv">
    <button mat-icon-button color="primary" (click)="sendSMS()"><mat-icon>check</mat-icon></button>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="מספר טלפון" ([ngModel])="phone">
    </mat-form-field>
      <mat-icon class="date-icon" >date_range</mat-icon>
    </div>
  </mat-grid-tile>
<button (click)="next()" class="fab-button" matTooltip="המשך" mat-mini-fab disabled="true"><mat-icon>arrow_back</mat-icon></button>