<mat-toolbar>
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row style="display:flex">
    <div class="empty-div"></div>
    <div class="content-div">
      <div class="flex-div">
        <div style="flex:10%">
          <img src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/12745615_489845037870491_8588360597957858548_n.png?_nc_cat=0&oh=c55c8486a90458f35439826dca8f088b&oe=5BC256C0" width="80px">
        </div>
        <div class="content-header-div">
          <span class="content-header-span">Maori Hair Design</span><br>
          <span class="content-sub-span">est. 2015</span>
        </div>
        <a routerLink="/home" routerLinkActive="active" class="btnToolbar">בית</a>
        <a routerLink="/info" class="btnToolbar" routerLinkActive="active">מידע</a>
        <a routerLink="/appointments" class="btnToolbar" routerLinkActive="active">קביעת תור</a>
        <a routerLink="/news" class="btnToolbar" routerLinkActive="active">עיתונות</a>
        <a routerLink="/products" class="btnToolbar" routerLinkActive="active">מוצרים</a>
      </div>
    </div>
    <div class="empty-div"></div>
  </mat-toolbar-row>
</mat-toolbar>