.toolbar-icon {
  padding: 0 5px;
  font-size:25px;
  position:relative;
  top: 3px;
}

mat-toolbar {
    background-color: black;
    color:white;
    height:200px;
}

.login-class {
    cursor: pointer;
}

.btnToolbar {
  position:relative;
  top:25px;
  font-size:14px;
  border-top:solid 1px white;
  margin:5px;
  color: white;
  text-decoration: none;
}

.btnToolbar:hover {
  position:relative;
  top:22px;
  border-top:solid 4px white;
  cursor:pointer;
}

.active {
  color: rgba(204, 77, 77, 1);
  border-top: solid 4px rgba(204, 77, 77, 1);
}

.active:hover {
  cursor:pointer;
  border-top: solid 4px rgba(204, 77, 77, 1);
  position:relative;
  top:25px;
}