<mat-toolbar>
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row style="display:flex">
    <div style="flex:25%"></div>
    <div style="flex:50%; text-align:center;">
      <div style="display:flex">
        <div style="flex:10%">
          <img src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/12745615_489845037870491_8588360597957858548_n.png?_nc_cat=0&oh=c55c8486a90458f35439826dca8f088b&oe=5BC256C0" width="80px">
        </div>
        <div style="flex:15%; margin:7px;">
          <span style="font-size:28px; margin:5px;">Maori Hair Design</span><br>
          <span style="font-size:16px;">est. 2015</span>
        </div>
        <a routerLink="/home" routerLinkActive="active" style="flex:15%" class="btnToolbar">בית</a>
        <a routerLink="/info" style="flex:15%" class="btnToolbar" routerLinkActive="active">מידע</a>
        <a routerLink="/appointments" style="flex:15%" class="btnToolbar" routerLinkActive="active">קביעת תור</a>
        <a routerLink="/news" style="flex:15%" class="btnToolbar" routerLinkActive="active">עיתונות</a>
        <a routerLink="/products" style="flex:15%" class="btnToolbar" routerLinkActive="active">מוצרים</a>
      </div>
    </div>
    <div style="flex:25%"></div>
  </mat-toolbar-row>
</mat-toolbar>