<mat-toolbar style="background-color:#3f51b5; color: white;">
  <mat-toolbar-row>
    <span class="toolbar-text">הוספת תור</span>
    <span class="toolbar-spacer"></span>
    <mat-icon class="exit-dialog" (click)="CloseAppointment()">close</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-dialog">
  <!-- Stepper -->
  <mat-horizontal-stepper linear="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>קבע מועד</ng-template>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="בחר תאריך" formControlName="firstCtrl" required [(ngModel)]="selectedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="בחר שעה" formControlName="timeCtrl" required [(value)]="selectedTime">
              <mat-option *ngFor="let time of times" [value]="time">
                {{ time }} 
              </mat-option>
            </mat-select>
        </mat-form-field>
          <button mat-button matStepperNext color="primary" class="arrow-back" (click)="AssignAppointment()"><mat-icon>arrow_back</mat-icon></button>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel style="margin: 10px !important;">בחר טיפולים</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>סיים</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

  <!-- Date Picker -->