.cards {
    height: 450px;
    margin:50px 50px 50px 50px;
    width:100%;
    
    background-color:transparent;
}


.main-card {
    display: flex;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.header-text {
    text-align:right;
    font-size: 22px;
}

.fab-class {
    position:absolute;
    bottom : -25px;
    left: 50px;
}