<div class="main-card"> 
  <div class="paddingDiv">
    <div class="stepperDiv">
      <mat-tab-group dir="ltr" [selectedIndex]="selectedTab" (selectedIndexChange)="isNextDisable($event)">
        <mat-tab label="סיים" disabled="true" [disabled]="!isFinished">
          פה סיום
        </mat-tab>
        <mat-tab label="הזדהות" [disabled]="!isSchedule">
          <app-verify [appointmentScheduled]="appointmentParent" (finished)="selectedTab = 0; isSchedule = false; isTypes = false; isFirst = false; isFinished = true;"></app-verify>
        </mat-tab>
        <mat-tab label="בחר מועד" [disabled]="!isTypes || !isChecked">
          <app-schedule [types]="typesParent" [currSelectedTab]="selectedTab" *ngIf="selectedTab <= 2" (scheduleOutside)="onScheduleSend($event)"></app-schedule>
        </mat-tab>
        <mat-tab label="בחר טיפולים" [disabled]="!isFirst">
          <app-type-list (isChecked)="onCheck($event)" (checkedTypesOutside)="onTypeSend($event)" ></app-type-list>
        </mat-tab>
      </mat-tab-group>
    <!--  <h1 class="typeText">בחר טיפולים</h1>
      <h1 class="dateText">בחר מועד</h1>
      <h1 class="verifyText">הזדהות</h1>
      <h1 class="finishText">סיים</h1>-->
    </div>
  </div>
</div>