<div class="main-card"> 
  <div class="paddingDiv">
    <div class="stepperDiv">
      <mat-tab-group dir="ltr" [selectedIndex]="selectedTab" (selectedIndexChange)="isNextDisable($event)">
        <mat-tab label="סיים" disabled="true">
          פה סיום
        </mat-tab>
        <mat-tab label="הזדהות" disabled="true">
          פה הזדהות
        </mat-tab>
        <mat-tab label="בחר מועד" [disabled]="!isNext || !isChecked">
          <app-schedule [types]="typesParent" [currSelectedTab]="selectedTab"></app-schedule>
        </mat-tab>
        <mat-tab label="בחר טיפולים">
          <app-type-list (isChecked)="onCheck($event)" (checkedTypesOutside)="onNext($event)"></app-type-list>
        </mat-tab>
      </mat-tab-group>
    <!--  <h1 class="typeText">בחר טיפולים</h1>
      <h1 class="dateText">בחר מועד</h1>
      <h1 class="verifyText">הזדהות</h1>
      <h1 class="finishText">סיים</h1>-->
    </div>
  </div>
</div>