.productsText {
    font-family: arial;
    color: rgba(255,255,255,0.9);
    font-size: 28px;
    text-align:right;
    margin:50px;
}

.titleText {
    border-bottom: 1px solid rgba(255,255,255,0.9);
}

.productCard {
    opacity: 1 !important;
    padding:0px;
    margin:20px;
    width:190px;
    height:270px;
    position:relative;
    right:50px;
}

.productImage {
    max-height: 140px;
    width:100%;
}

.imageBackground {
    background-color: #E0E0E0;
}

.btnLeft {
    position:absolute;
    left:10px;
    top:265px;
    color:rgba(255, 77, 77, 1);
    cursor:pointer;
}

.btnRight {
    position:absolute;
    right:10px;
    top:265px;
    color:rgba(255, 77, 77, 1);
    cursor:pointer;
}

.textCard {
    padding: 15px;
}

.productDesc {
    font-size:15px;
    color:#9A9A9A;
}

.productPrice {
    font-size: 18px;
}