.productsText {
    font-family: arial;
    color: rgba(255,255,255,0.9);
    font-size: 28px;
    text-align:right;
    margin:50px;
}

.titleText {
    border-bottom: 1px solid rgba(255,255,255,0.9);
}

.productCard {
    margin:10px;
    width:135px;
    height:135px;
    border: 3px solid rgba(204, 77, 77, 1);
}