mat-panel-title {
    width:10%;
}

.avatarType {
    position:relative;
    left:20px;
    top:12px;
    width:25px;
    height:25px;
}

.titleText {
    height:48px;
    position: relative;
    top:12px;
    right:15px;
}

.descText {
    height:48px;
    position:relative;
    top:12px;
    right:35px;
}

.typeText {
    position:relative;
    right:10px;
}

.fab-class {
    float:left;
    position:relative;
    top: 50px;
    opacity:1;
    padding:5px;
    background-color: rgba(255,255,255,0.8);
}