<mat-grid-list class="gridList" cols="3" rowHeight="240px">
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="cartCard">
      <h5 style="margin:0; position:relative; bottom:12px;">מוצרים</h5>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let type of types">
          <img class="avatarImage" [src]="type.image" width="50" height="50">
          <h3 mat-line style="font-weight:bold;">{{type.title}}</h3>
          <h4 dir="rtl" mat-line>{{type.price}} שקלים | {{type.duration}} דקות</h4>
          <mat-divider></mat-divider>
        </mat-list-item>
        <div style="text-align:center; position:absolute; bottom:10px; left:32%;">
          <h1 mat-line dir="rtl" style="font-size:20px"><mat-icon style="font-size:35px; position:relative; top:10px; width:42px;">payment</mat-icon>{{totalPrice}} ש"ח</h1>
        </div>
      </mat-list>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <div class="dateDiv">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="בחר תאריך" autocomplete="off" [(ngModel)]="dateSchedule">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-icon class="date-icon" >date_range</mat-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" *ngIf="dateSchedule">
    <div class="timeDiv">
      <mat-form-field>
        <mat-select placeholder="בחר שעה" [(ngModel)]="timeSchedule">
          <mat-option *ngFor="let time of times" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="clock-icon">access_time</mat-icon>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<button (click)="next()" class="fab-button" matTooltip="המשך" mat-mini-fab disabled="true" [disabled]="!isValidDate() || !timeSchedule"><mat-icon>arrow_back</mat-icon></button>