/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin:0px !important;
    background-color: rgba(0,0,0,0.04);
    background-image: url("http://www.zastavki.com/pictures/originals/2013/Cities__038905_.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.mat-dialog-container {
    padding: 0 !important;
}

.mat-expansion-panel-body {
    text-align: right;
}

.mat-tab-label {
    font-family:arial;
    font-size:18px !important;
    color:white;
}

.mat-ink-bar {
    background-color:black !important;
}

.mat-tab-labels {
    display: block !important;
    text-align:right;
}

.mat-tab-body-content {
    height: 500px !important;
    position:relative;
    top:30px;
}

.mat-tab-body {
    overflow-y: hidden !important;
}