/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin:0px !important;
    background-color: rgba(0,0,0,0.04);
    background-image: url("http://www.zastavki.com/pictures/originals/2013/Cities__038905_.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.mat-dialog-container {
    padding: 0 !important;
}

