
<div class="table-container">
  <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <img style="vertical-align:middle; position:relative; left:20px;" aria-hidden src="http://www.pngmart.com/files/5/Haircut-PNG-Transparent-Image.png" height="25" />
      <mat-panel-title>
        תספורת רגילהה לגבר
      </mat-panel-title>
      <mat-panel-description>
        20 דקות - 30 ש"ח
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
       <img style="vertical-align:middle; position:relative; left:20px;" aria-hidden src="http://www.pngmart.com/files/5/Haircut-PNG-Transparent.png" height="25" width="25" />
      <mat-panel-title>
        תספורת רגילה לאישה
      </mat-panel-title>
      <mat-panel-description>
        40 דקות - 90 ש"ח
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>

</div>