<div class="table-container" dir="rtl">
  <mat-accordion>
  <mat-expansion-panel class="mainPanel" *ngFor="let type of appointmentTypes" [ngStyle]="{'background-color':type.checked ? 'white' : 'rgba(255,255,255,0.6)'}">
    <mat-expansion-panel-header>
      <img class="avatarType" aria-hidden [src]="type.image"/>
      <mat-panel-title class="titleText">
      <mat-checkbox class="checkbox" (click)="$event.stopPropagation();" color="primary" labelPosition="after" [checked]="type.checked" (change)="type.checked = !type.checked; handleTypeList(type); onCheck();"></mat-checkbox>
        <span class="typeText">
          {{ type.title }}
        </span>
      </mat-panel-title>
      <mat-panel-description class="descText">
        {{type.duration}} דקות - {{type.price}} ש"ח
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{type.desc}}
  </mat-expansion-panel>
  
</mat-accordion>
</div><br>
<button mat-raised-button class="fab-class" matTooltip="המשך" matTooltipPosition="above" (click)="next()" [disabled]="checkedTypes.length == 0"><mat-icon>arrow_back</mat-icon></button>